spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/questionhub
    username: ${QUESTIONHUB_DB_USERNAME}
    password: ${QUESTIONHUB_DB_PASSWORD}
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4-turbo
          max-tokens: 5
          temperature: 0.0
    ollama:
      chat:
        options:
          temperature: 0.0
  logging:
    level:
      root: DEBUG
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql.BasicBinder: TRACE
      org.springframework.orm.jpa: DEBUG
      org.springframework.transaction: DEBUG
  mvc:
    problemdetails:
      enabled: true

# Production
---
spring:
  config:
    activate:
      on-profile: production
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:5432/questionhub
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4-turbo
    ollama:
      chat:
        options:
          temperature: 0.0