@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif, Arial,sans-serif, Helvetica, sans-serif;
}

.tiptap {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

[contenteditable]:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
